body {
    background-color: #F8FAFB;
    padding: 15px;

}
h1 {
    font-family: 'Squada One', cursive;
    text-align: center;
    font-size: 80px;
    color: #15202a;
}
.close-bracket {
    text-align: left;
}
.indent {
    text-align: left;
    margin-left: 3em;
}
.function {
    font-family: 'Hepta Slab', serif;
    font-size: 30px;
}
.function-big {
    font-family: 'Hepta Slab', serif;
    font-size: 40px;
}
h2 {
    font-family: 'Squada One', cursive;
    text-align: left;
    margin-left: 9%;
    font-size: 45px;
    color: #2b444e;
}

h3 {
    font-family: 'Squada One', cursive;
    text-align: center;
    font-size: 30px;
    color: #2b444e;
    margin: 15px 0;
}
h4 {
    font-family: 'Hepta Slab', serif;
    text-align: center;
    font-size: 12px;
    color: #2b444e;
}
h4 a {
    text-decoration: none;
    color: rgba(54, 80, 90, 0.75);
    font-size: 14px;
}
h6 {
    font-family: 'Squada One', cursive;
    display:inline-block;
    padding:2px 3px
}
nav {
    text-align: center;
    margin: 30px 0 0;
    padding: 15px 0;
    background-color: rgba(120, 152, 156, 0.8);
    justify-content: space-around;
    border: 1px solid #2b444e;
    border-radius: 15px;
}
nav a {
    font-family: 'Squada One', cursive;
    font-size: 24px;
    margin: 0 30px;
    text-decoration: none;
    color: #2b444e;
}
nav a:hover {
    color: #15202a;
}
.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section {
    min-width: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(120, 152, 156, 0.77);
    padding: 20px;
    margin: 20px;
    border: 2px solid #2b444e;
    border-radius: 20px;
}
section:hover {
    transform: scale(1.1);
    transition: 1s ease;
}
section img {
    height: 120px;
    width: 180px;
    padding: 10px;
    margin: 15px 5px 5px;
}
.button {
    text-align: center;
    white-space:nowrap;
    width: 60px;
    overflow:visible;
    height: 40px;
    margin: 10px 15px;
    padding: 5px 7px;
    border: 2px solid #0f304b;
    border-radius: 5px;
    background-color: #F8FAFB;
    font-size: 36px;
    color: #2b444e;
}

section p {

}
footer {
    text-align: center;
    margin: 30px 0 0;
    padding: 15px 0;
    background-color: rgba(120, 152, 156, 0.8);
    color: #2b444e;
    justify-content: space-around;
    border: 1px solid #2b444e;
    border-radius: 15px;
}
footer a {
    font-size: 20px;
    font-family: 'Squada One', cursive;
    text-align: center;
    color: #2b444e;
    text-decoration: none;
    justify-content: space-around;
    padding: 0 20px 20px;
    margin: 0 20px 20px;
}
footer a:hover {
    color: #15202a;
}
.modal {
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    overflow: scroll;
}
.modal-text {
    border: 1px solid #2b444e;
    background-color: white;
    max-height: 550px;
    width: 750px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    padding: 2%;
    overflow-y: scroll;
}
.modal-button {
    display: inline;
    padding: 10px 15px;
    background-color: #5f7c80;
    border: 1px solid #2b444e;
    border-radius: 5px;
    color: white;
    font-family: 'Hepta Slab', serif;
    font-size: 12px;
    margin: 0 590px 0 0;
}
.resume-button {
    display: inline;
    padding: 10px 15px;
    background-color: #5f7c80;
    border: 1px solid #2b444e;
    border-radius: 5px;
    color: white;
    font-family: 'Hepta Slab', serif;
    font-size: 12px;

}
p {
    padding: 5px 5px 20px;
    margin: 3px;
    font-family: 'Hepta Slab', serif;
    font-size: 16px;
    color: #15202a;
}
.technology {
    background-color:#36505a;
    color:white;
    text-decoration:none;
    padding: 6px;
    margin: 5px auto 20px;
    font-family: 'Squada One', cursive;
    font-size:14px;
    display:inline-block;
    border-radius:3px;
    z-index: 1;
    height: 1em;
}
.section-head {
    margin: 0;
}
.section-text {
    height: 40px;
    width: 180px;
    font-family: 'Hepta Slab', serif;
    color: #15202a;
    font-size: 12px;
    margin: 5px 5px 3px;
}
@media (max-width: 670px) {
    h1 {
        font-size: 60px;
    }
    .function-big {
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }
    .function {
        font-size: 20px;
    }
    nav a {
        font-size: 16px;
        margin: 0 20px;
    }
    footer a {
        font-size: 14px;
        margin: 0 10px 20px;
    }
}
